body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    margin: 20px;
}

h1{
    margin: auto;
}


.formulario {
    display: flex;
    flex-direction: column;
    max-width: 455px;
    margin: 0 auto;
    background-color: #fff;
    padding: 48px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(135 135 135 / 32%);
    margin-top: 112px;
}

.formulario label {
    text-align: left;
    margin-bottom: 5px;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formulario input[type="submit"] {
    background-color: #575757;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 457px;
}

.formulario input[type="submit"]:hover {
    background-color: #363636;
}


.formulario textarea {
    resize: vertical;
}
